

.disabled_menu{
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.menu_arrow{
	background-image: url('/img/menu_arrow.png');
	background-repeat: no-repeat;
	background-position: center;
	padding: 5px;
	width: 10px;
	height: 10px;
	display: inline-block;
	position: absolute;
	right: 5px;
}

.top_menu_bar {
	padding: 0px;
	width: 100%;
	height: 24px;
}

.menu_con{
	margin: 5px;
	margin-top: -10px;
	margin-bottom: -6px;
	height: 20px;
}

.gradient{
	background: #f4f4f4; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f4f4f4 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4f4f4 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4f4f4 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4f4f4 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f4f4f4 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */
}

.shadow {
	-webkit-box-shadow: 2px 4px 15px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 4px 15px -2px rgba(0,0,0,0.75);
	box-shadow: 2px 4px 15px -2px rgba(0,0,0,0.75);
}

.bottom_curve{
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.main_menu_bar{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.top_menu{
	text-decoration: none;
	color: black;
	padding: 5px;
}

.top_menu > a > img{
	height: 15px;
	margin: 0px;
	margin-bottom: -4px;
}
.no_hover {
	background: none !important;
	color: black !important;
}

.menu_hover {
	color: white; 
	background: #71b7dd; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcxYjdkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDc3Y2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #71b7dd 0%, #0077cc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#71b7dd), color-stop(100%,#0077cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #71b7dd 0%,#0077cc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #71b7dd 0%,#0077cc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #71b7dd 0%,#0077cc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #71b7dd 0%,#0077cc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71b7dd', endColorstr='#0077cc',GradientType=0 ); /* IE6-8 */
}

.sub_menu_holder {
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
}

.menu_item{
	min-width: 100px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.menu_item > img{
	position: absolute;
	left: 2px;
	height: 15px;
	width: 15px;
}

.sub_menu{
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	list-style: none;
	position: absolute;
	float: left;
	display: none;
	margin-left: -5px;
	color: black;
	height: auto;
}

